---
import Section from "@/components/Section.astro";
import InViewEffect from "@/components/InViewEffect.astro";
import Paragraph from "./Paragraph.astro";
---

<Section title="Profile" subtitle="基本情報">
  <div class="list-wrapper">
    <div class="list">
      <InViewEffect>
        <Paragraph icon="fa6-solid:graduation-cap">
          ソフトウェア開発が好きな大学生です。プログラミングを始めて10年になります。
        </Paragraph>
      </InViewEffect>
      <InViewEffect>
        <Paragraph icon="fa6-solid:layer-group">
          Webアプリ、ゲーム、小型デバイス、OSなど様々なものを制作しています。
        </Paragraph>
      </InViewEffect>
      <InViewEffect>
        <Paragraph icon="fa6-regular:lightbulb">
          2018年からLinuxサーバーを運用しており、自作のWebアプリや情報収集ツールがKubernetesクラスタ上で動いています。
        </Paragraph>
      </InViewEffect>
    </div>
  </div>
</Section>

<style>
  .list-wrapper {
    display: grid;
    justify-items: center;
  }

  .list {
    display: grid;
    gap: 16px;
    max-width: 700px;
  }
</style>
