@use "sass:math";

$oceanWidth: 100%;
$oceanHeight: 100px;

$waveImageWidth: 1440px;
$waveImageHeight: 250px;
$displayedWaveWidth: math.div($oceanHeight * $waveImageWidth, $waveImageHeight);

$waveEasingFunc: cubic-bezier(0.37, 0, 0.63, 1);

.ocean {
  position: relative;
  width: $oceanWidth;
  height: $oceanHeight;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/wave.svg);
  background-size: auto 100%;
  background-repeat: repeat-x;

  &:nth-child(1) {
    animation: waveAnimation1 9s $waveEasingFunc 0s infinite;
    @keyframes waveAnimation1 {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: $displayedWaveWidth;
      }
    }
  }

  &:nth-child(2) {
    animation: waveAnimation2 13s $waveEasingFunc -3s infinite;
    @keyframes waveAnimation2 {
      0% {
        background-position-x: calc(#{$displayedWaveWidth} * 1.25);
      }
      100% {
        background-position-x: calc(#{$displayedWaveWidth} * 0.25);
      }
    }
  }

  &:nth-child(3) {
    animation: waveAnimation3 7s $waveEasingFunc -6s infinite reverse;
    @keyframes waveAnimation3 {
      0% {
        background-position-x: calc(#{$displayedWaveWidth} * 0.5);
      }
      100% {
        background-position-x: calc(#{$displayedWaveWidth} * 1.5);
      }
    }
  }

  &:nth-child(4) {
    animation: waveAnimation4 5s $waveEasingFunc -2s infinite;
    @keyframes waveAnimation4 {
      0% {
        background-position-x: calc(#{$displayedWaveWidth} * 1.75);
      }
      100% {
        background-position-x: calc(#{$displayedWaveWidth} * 0.75);
      }
    }
  }
}
