.sectionBox {
  width: 100%;

  $contentWidth: min(90%, 960px);
  padding: 15px calc((100% - #{$contentWidth}) / 2);

  &:first-child {
    padding-top: 0;
  }

  &:nth-child(2n) {
    background-color: #f7f7f7;
  }
}
