.sectionBox {
  width: 100%;
  display: flex;
  justify-content: center;

  &:first-child {
    padding-top: 0;
  }

  &:nth-child(2n) {
    background-color: #f7f7f7;
  }
}

.inner {
  width: min(90%, 960px);
}
