:root {
  color-scheme: light dark;

  --color-text1: light-dark(#2f2f2f, #fdfdfd);
  --color-text2: light-dark(#fdfdfd, #fdfdfd);
  --color-background1: light-dark(#fdfdfd, #1f1f1f);
  --color-background2: light-dark(#fdfdfd, #fdfdfd);
  --color-surface1: light-dark(rgb(0 0 0 / 2%), rgb(255 255 255 / 4%));
  --color-shadow1: light-dark(rgb(0 0 0 / 16%), rgb(255 255 255 / 32%));
  --color-shadow2: light-dark(rgb(0 0 0 / 32%), rgb(255 255 255 / 48%));
  --color-border1: light-dark(#e1e4e8, #626466);
  --color-border2: light-dark(#979797, #808080);
  --color-cover1: light-dark(#3585ff, #0044ac);
  --color-cover2: light-dark(#0044ac, #3585ff);
  --color-ocean: light-dark(#3585ff, #0044ac);
  --border1: var(--color-border1) solid 1px;
  --border2: var(--color-border2) solid 1px;
  --easing-pop: cubic-bezier(0.24, 2, 0.64, 1.15);
  --easing-ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
  --easing-ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}
