head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto', media='none', onload="media='all'")
  link(rel='stylesheet', href='../styles/index.scss')

  title Ciffelia
  meta(name='description', content='Front-end engineer')
  meta(name='theme-color', content='#a5a1be')
  link(rel='icon', type='image/png', href='../images/icon/256x256.png')

  link(rel='manifest', href='../manifest.webmanifest')

  meta(property='og:title', content='Ciffelia')
  meta(property='og:type', content='website')
  meta(property='og:url', content='https://ciffelia.com/')
  meta(property='og:image', content='https://ciffelia.com/images/icon/1600x1600.png')
  meta(property='og:site_name', content='Ciffelia')

  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@ciffelia')
