include ../mixins/linkList

.headingWrapper
  h2 🔗 Links

.centeringWrapper
  +linkList
    +link('GitHub', 'https://github.com/ciffelia', '@ciffelia')
    +link('Twitter', 'https://twitter.com/ciffelia', '@ciffelia')
    +link('AtCoder', 'https://atcoder.jp/user/prince', 'prince')
    +link('Qiita', 'http://qiita.com/prince_0203', '@prince_0203')
    +link('Speaker Deck', 'https://speakerdeck.com/prince', 'prince')
    +link('Annict', 'https://annict.com/@ciffelia', '@ciffelia')
    +link('Bookmeter', 'https://bookmeter.com/users/673781', 'Ciffelia')
