include ../mixins/simpleDefList

.headingWrapper
  h2 📋 Profile

.centeringWrapper
  +simpleDefList('table', {
    Age: '17',
    Birth: 'February 3, 2002',
    Gender: 'Male',
    Country: 'Japan',
    Affiliation: 'Eiko Gakuen High School'
  })
