include ../mixins/simpleDefList

.h2Wrapper
  h2 ⚙️ Skills

.centeringWrapper
  div
    +simpleDefList('table', {
      'App development': '2012-',
      'Web development': '2012-',
      'Game development': '2014.12-',
      'Competitive programming': '2017.2-',
      'OS development': '2017.9-'
    })

    +simpleDefList('table', {
      'Excel VBA': '2011 - 2012',
      'HSP': '2012 - 2015.08',
      'PHP': '2015.08 - 2016.01',
      'Scala': '2016.07 - 2016.09'
    })

    +simpleDefList('table', {
      'HTML': '2012-',
      'C++': '2014.12-',
      'JavaScript': '2015.08-',
      'CSS': '2015.08-',
      'Electron': '2016.01-',
      'C#': '2016.05-',
      'Python': '2016.07-',
      'React/JSX': '2016.11-',
      'Kotlin': '2016.11-',
      'Go': '2017.01-'
    })
