include ../mixins/simpleDefList

.headingWrapper
  h2 ⚙️ Skills

.centeringWrapper
  div
    +simpleDefList('table', {
      'App development': '2012-',
      'Web development': '2012-',
      'Game development': '2014.12-',
      'Competitive programming': '2017.2-',
      'OS development': '2017.9-'
    })

    +simpleDefList('table', {
      'HTML': '2012-',
      'CSS': '2015.08-',
      'JavaScript': '2015.08-',
      'React': '2016.11-',
      'Vue.js': '2020.03-',
      'Electron': '2016.01-',
      'PHP': '2015.08 -',
    })

    +simpleDefList('table', {
      'C++': '2014.12-',
      'C#': '2016.05-',
      'Rust': '2020.06-',
      'Go': '2017.01-',
      'Kotlin': '2016.11-',
      'Scala': '2016.07 -',
      'Python': '2016.07-',
    })

    +simpleDefList('table', {
      'Docker': '2016.06-',
      'Arduino': '2018.09-',
    })
