include ../mixins/workList

.headingWrapper
  h2 📛 Works

.centeringWrapper
  div
    .headingWrapper
      h3 📅 2018

    +workList
      +work('fes71.eikogakuen.com', 'https://github.com/ciffelia/fes71.eikogakuen.com', 'Website / PWA / SPA / SCSS / CSS Animation / React / GatsbyJS')
      +work('ciffelia.com', 'https://github.com/ciffelia/ciffelia.com', 'Website / Pug / SCSS / Parcel')
      +work('RayTracing', 'https://github.com/ciffelia/RayTracing', 'Desktop App / C++ / Siv3D')
      +work('Volundr', 'https://github.com/ciffelia/Volundr', 'Android App / Kotlin')
      +work('atcoder-twitter-avatar', 'https://github.com/ciffelia/atcoder-twitter-avatar', 'UserScript / JavaScript / rollup.js(2018)')
      +work('atcoder-favorite-migrator', 'https://github.com/ciffelia/atcoder-favorite-migrator', 'Browser Extension / JavaScript')
      +work('discord-jinsei', 'https://github.com/ciffelia/discord-jinsei', 'Desktop App / Node.js')
      +work('atcoder-sample-case-tester', 'https://github.com/ciffelia/atcoder-sample-case-tester', 'UserScript / JavaScript / rollup.js')

    .headingWrapper
      h3 📅 2017

    +workList
      +work('Updraft', 'https://github.com/ciffelia/Updraft', 'Action Game / C++ / UEFI')
      +work('PiMonitor', 'https://github.com/ciffelia/PiMonitor', 'CLI App / Node.js / Flow / Firebase / WebSocket / Raspberry Pi')
      +work('fast-speed-test', 'https://github.com/ciffelia/fast-speed-test', 'CLI App / Node.js / Puppeteer')
      +work('GimleOS', 'https://github.com/ciffelia/GimleOS', 'OS / C')
      +work('pi-sensors', 'https://github.com/ciffelia/pi-sensors', 'CLI App / IoT / Go / Raspberry Pi')
      +work('mackerel-plugin-pi-sensor', 'https://github.com/ciffelia/mackerel-plugin-pi-sensor', 'Mackerel Plugin / IoT / Go / Raspberry Pi')

    .headingWrapper
      h3 📅 2016

    +workList
      +work('Mistelten', 'https://github.com/ciffelia/Mistelten', 'Desktop App / Electron / HTML / Node.js')
      +work('BouyomiCraft', 'https://github.com/ciffelia/BouyomiCraft', 'Desktop App / Electron / HTML / CSS / Node.js')
      +work('MoreRecentlyClosed', 'https://github.com/ciffelia/MoreRecentlyClosed', 'Browser Extension / HTML / SASS / JavaScript')
      +work('JPMCPvPMapsBot', 'https://github.com/ciffelia/JPMCPvPMapsBot', 'Twitter Bot / Node.js')

    .headingWrapper
      h3 📅 2015 and earlier

    +workList
      +work('JPMCPvP Info', 'https://github.com/ciffelia/JPMCPvP-Info', 'Web App / PHP / HTML / CSS / JavaScript (2015)')
      +work('HSP Auto Complete', 'http://dev.onionsoft.net/seed/info.ax?id=1045', 'Desktop App / HSP (2015)')
      +work('ScreenSave', 'http://dev.onionsoft.net/seed/info.ax?id=714', 'Desktop App / HSP (2014)')
      +work('メモリー・CPU使用率チェッカー', 'http://dev.onionsoft.net/seed/info.ax?id=713', 'Desktop App / HSP (2014)')
      +work('HTTPサーバー2', 'http://dev.onionsoft.net/seed/info.ax?id=712', 'Desktop App / HSP (2014)')
      +work('星空作成', 'http://dev.onionsoft.net/seed/info.ax?id=463', 'Desktop App / HSP (2013)')
      +work('RSSリーダー', 'http://dev.onionsoft.net/seed/info.ax?id=462', 'Desktop App / HSP (2013)')
      +work('HTTPサーバー', 'http://dev.onionsoft.net/seed/info.ax?id=283', 'Desktop App / HSP (2012)')
