doctype html
html(prefix='og: http://ogp.me/ns#', lang='ja')
  include components/head
  body
    include components/cutIn
    .container
      include components/header
      main
        .centeringWrapper
          p.description
            span High school student,
            span front-end engineer,
            span toy operating system developer.
        include components/profile
        include components/works
        include components/skills
        include components/links
