doctype html
html(prefix='og: http://ogp.me/ns#', lang='en')
  include components/head
  body
    include components/cutIn
    .container
      include components/header
      main
        .centeringWrapper
          p.description
            span Front-end engineer
        include components/links
        include components/works
        include components/skills
