@import '../styles/variables';

.hero {
  position: relative;

  padding-top: 53px;
  padding-bottom: 75px;

  font-family: 'Quicksand', sans-serif;

  background-color: $ocean;
  color: $white;
}

.oceanContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.myself {
  display: flex;
  justify-content: center;
  align-items: center;

  filter: drop-shadow(0 4px 7px rgba(0, 0, 0, 0.16));

  .icon {
    width: clamp(75px, 20vw, 130px);
    height: clamp(75px, 20vw, 130px);
    border-radius: 50%;
  }

  .name {
    margin-left: clamp(20px, 6vw, 40px);
    font-weight: 600;
    font-size: clamp(64px, 16vw, 97px);
  }
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
}
