.workList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
    width: 31%;

    @media screen and (max-width: 880px) {
      width: 48%;
    }

    @media screen and (max-width: 560px) {
      width: 100%;
    }
  }
}
