html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: white;
  background: linear-gradient(to right, #536976, #292e49);
}

.container {
  text-align: center;
}

.header > img {
  border-radius: 5%;
}

.links {
  padding: 0;

  & > li {
    display: inline-block;

    .icon {
      width: 32px;
      height: 32px;

      padding: 15px;
      border: solid 1px white;
      border-radius: 50%;

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
      &, &:hover {
        transition: background-color .2s 0s linear;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
