@import "~hack/dist/hack";
@import "~hack/dist/dark-grey";

.hack ul.horizontal > li {
  display: inline;
  padding: 0;
  
  &:after {
    content: '';
  }
  
  &:nth-child(n+2):before {
    content: ' / ';
  }
}
