$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

$cutInDelay: 0s;
$cutIn1Duration: .8s;
$cutIn2Duration: 1s;
$cutIn3Duration: .8s;

$cutIn1Delay: $cutInDelay;
$cutIn2Delay: $cutIn1Delay + $cutIn1Duration;
$cutIn3Delay: $cutIn2Delay + $cutIn2Duration;
$cutInDuration: $cutIn3Delay + $cutIn3Duration;

$headerRotateDuration: .5s;
$headerSlideDuration: .5s;
